@import 'variables';
$main-font: 'Thasadith', sans-serif;
$title-font: 'Indie Flower', cursive;

body{
    font-family: $main-font;
}

.title{
    font-family: $title-font;
}

.website{
    margin-top: $headerHeight;
}